<div class="row">

<div class="col-md-4">
  <div class="list-group">
    <a class="list-group-item list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Inspektionsfund</h5>
        <small>Info her?</small>
      </div>
      <p class="mb-1"><%= @illness.clinical.inspection %></p>
      <small>Noget her?</small>
    </a>
    <a class="list-group-item list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Palpationsfund</h5>
        <small>Info her?</small>
      </div>
      <p class="mb-1"><%= @illness.clinical.palpation %></p>
      <small>Noget her?</small>
    </a>
    <a class="list-group-item list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Perkussionsfund</h5>
        <small>Info her?</small>
      </div>
      <p class="mb-1"><%= @illness.clinical.percussion %></p>
      <small>Noget her?</small>
    </a>
    <a class="list-group-item list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Auskultationsfund</h5>
        <small>Info her?</small>
      </div>
      <p class="mb-1"><%= @illness.clinical.auscultation %></p>
      <small>Noget her?</small>
    </a>
  </div>
</div>

<!-- End of row -->
</div>