<div class="tab-pane active" id="clinical" role="tabpanel">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-faded">
        <div class="card-block">
          <h5>Inspektion</h5>
          <p><%= @illness.clinical.inspection %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-faded">
        <div class="card-block">
          <h5>Palpation</h5>
          <p><%= @illness.clinical.palpation %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-faded">
        <div class="card-block">
          <h5>Perkussion</h5>
          <p><%= @illness.clinical.percussion %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-faded">
        <div class="card-block">
          <h5>Auskultation</h5>
          <p><%= @illness.clinical.auscultation %></p>
        </div>
      </div>
    </div>
  </div>
</div>