<div class="card border-0 text-center">

  <div class="card-block">
    <%= link_to(controller: :illnesses, action: :category, category: category) do %>
    <h1><strong><%= category %></strong> </h1>
    <div class="btn3d btn btn-primary btn-lg">
     <%= category_image(category) %>
    </div>
    <br>
    <%= @category_names[category] %></p>
    <% end %>
  </div>

</div>