<div class="card border-0 text-center">
  <%= link_to(controller: :illnesses, action: :category, category: category) do %>
  <div class="card-block">
    <%= category_image(category) %>
    <p class="lead"><strong><%= category %></strong>
    <br>
    <%= @category_names[category] %></p>
  </div>
  <% end %>
</div>