<div class="card">
  <div class="card-header">
    <h4 class="lead"><span class="fa fa-file-text-o"></span> Beskrivelse</h4>
  </div>
  <div class="card-block">
    <div class="fr-view">
      <%= @illness.try(:description).html_safe %>
    </div>
  </div>
</div>