<div class="container">
  <h1 class="display-3 text-center">Vælg en kategori!</h1>
  <br>
    <div class="card-group">
      <% for category in @categories %>
      <%= render 'index_card', category: category %>
      <% end %>
    </div>
</div>