<div class="col-md-12">
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Sygdommens navn</th>
      <th>Kategori</th>
    </tr>
  </thead>
  <tbody>
  <% for illness in @illnesses %>
    <tr onclick="window.location='<%= illness_path(illness) %>'">
      <td><%= illness.name %></td>
      <td><%= illness.category %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>