<div class="container">
  <div class="col-md-12">
    <h1 class="display-3 text-center">Vælg en kategori!</h1>
    <br>
    <div class="card-group">
      <% @category_names.each_key do |key| %>
          <%= render 'index_card', category: key %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1 class="lead text-center"><span class="fa fa-plus"></span> Seneste nye tilføjelser</h1>
      <div style="padding-top: 0px; padding-bottom: 0px;">
        <ul class="timeline">
          <% for illness in @new_illnesses %>
            <%= render 'index_timeline_element', illness: illness, counter: @counter, icon: 'fa fa-plus', newest: true %>
            <% @counter += 1 %>
         <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="lead text-center"><span class="fa fa-refresh"></span> Seneste opdateringer</h1>
    <div style="padding-top: 0px; padding-bottom: 0px;">
      <ul class="timeline">
        <% for illness in @updated_illnesses %>
            <%= render 'index_timeline_element', illness: illness, counter: @counter2, icon: 'fa fa-refresh', newest: false %>
            <% @counter2 += 1 %>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
<!-- end of row -->
</div>

