@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "plugins/image.min";
@import "plugins/draggable.min";
@import "plugins/table.min";
@import "bootstrap";
@import "font-awesome";
@import "wfmi-style";
@import "progressbar";
@import "3dbuttons";
@import "menubuttons";
@import "counter";
@import "nprogress";
@import "nprogress-bootstrap";
@import "nprogress-turbolinks5";
@import "timeline";
@import "quiz";
@import "ribbon";

.light-blue {color: #49ade5; }
.red { color: #e5605a; }
.green { color: #79A70A }
.gold { color: #e5c55b
}


.nav-bg-color {
  background: #161616; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1c1c1c, #262626, #1c1c1c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1c1c1c, #262626, #1c1c1c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1c1c1c, #262626, #1c1c1c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1c1c1c, #262626, #1c1c1c); /* Standard syntax */
}
// Box shadow helper
@mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 1px 3px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
  }
}

a {transition: .25s all;}
.card-shadow {
  overflow: hidden;
  @include BoxShadowHelper(1);
  transition: .25s box-shadow;
  &:focus,
  &:hover {@include BoxShadowHelper(2);}
}
.card-inverse .card-img-overlay {
  background-color: rgba(#333,.85);
  border-color: rgba(#333,.85);
}

.filterable {
  margin-top: 15px;
}
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}