@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "plugins/image.min";
@import "plugins/draggable.min";
@import "plugins/table.min";
@import "bootstrap";
@import "font-awesome";
@import "wfmi-style";
@import "progressbar";
@import "3dbuttons";
@import "menubuttons";
@import "counter";
@import "nprogress";
@import "nprogress-bootstrap";
@import "nprogress-turbolinks5";
@import "timeline";
@import "quiz";
@import "ribbon";

.light-blue {color: #49ade5; }
.red { color: #e5605a; }
.green { color: #79A70A }
.gold { color: #e5c55b
}

.navbar-bg {
  background: -moz-linear-gradient(right, #135473, #255f58); /* For Firefox 3.6 to 15 */
  /* Inner shadow */
  box-shadow: -2px -2px 50px 3px rgba(0, 0, 0, 0.15) inset, 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
}

.navbar-bg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: solid;
  border-color: rgba(0,0,0, 0.2);
  border-width: 1px;
  box-shadow: -0.5px 0 1px 0px rgba(207, 241, 255, 1) inset, 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

/* Star pattern in navbar */
.navbar-bg:before {
  background-image:
          radial-gradient(rgba(255,255,255,.3), rgba(255,255,255,.03) 2px, transparent 55px),
          radial-gradient(rgba(255,255,255,.3), rgba(255,255,255,.05) 1px, transparent 50px),
          radial-gradient(rgba(255,255,255,.5), rgba(255,255,255,.07) 1px, transparent 60px),
          radial-gradient(rgba(255,255,255,.5), rgba(255,255,255,.09) 1px, transparent 40px);
  background-size: 750px 750px, 900px 900px, 600px 600px, 450px 450px;
  background-position: 0 0, 64px -393px, 100px 318px, 164px -131px;
}


// Box shadow helper
@mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 1px 3px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
  }
}

a {transition: .25s all;}
.card-shadow {
  overflow: hidden;
  @include BoxShadowHelper(1);
  transition: .25s box-shadow;
  &:focus,
  &:hover {@include BoxShadowHelper(2);}
}
.card-inverse .card-img-overlay {
  background-color: rgba(#333,.85);
  border-color: rgba(#333,.85);
}

.filterable {
  margin-top: 15px;
}
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}