.card {
  margin: 10px auto; /* Added */
  float: none; /* Added */
}

.quiz {
}

.quiz.containerz {
  background: repeating-linear-gradient(
                  -40deg,
                  #242424,
                  #242424 10px,
                  #222222 10px,
                  #222222 25px
  );
  min-height: 100vh;
}

.quiz.debug {
  border-radius: 7px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.35) inset;
  background: #292929; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#292929, #222222); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#292929, #222222); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#2d2d2d 0%, #333333 35%); /* For Firefox 3.6 to 15 */
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.quiz.debug:before {
  content: '';
  position: absolute;
  border-radius: 7px;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  box-shadow: 0.5px 0.5px 1px 0px rgba(207, 241, 255, 0.25) inset;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.quiz.center-container {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.35) inset;

  background: #292929; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#292929, #222222); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#292929, #222222); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#2d2d2d 0%, #333333 35%); /* For Firefox 3.6 to 15 */
  padding: 20px;
  min-height: 65vh;
}

.quiz.center-container:before {
  content: '';
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0.5px 0.5px 1px 0px rgba(207, 241, 255, 0.25) inset;
}

.quiz.box {
  box-shadow: 0 0 0 1px #414141 inset, 0 0 0 2px rgba(255,255,255, 0.1) inset, 0 8px 0 0 #414141, 0 10px 10px 3px rgba(0, 0, 0, 0.25);
  background: #4b4b4b;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.quiz.logo {
  position:relative;
  top: -6px;
  border:0;
  transition: all 40ms linear;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:2px;
  margin-right:2px;
  -moz-outline-style:none;
  color: #ffffff;
  text-shadow: 0 0 2px #3bdbff, 0 0 10px #3ec3ea;
  box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color:#39B3D7;
}

.quiz.title {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4b6cb7 , #182848); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4b6cb7, #182848); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4b6cb7, #182848); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4b6cb7 , #182848); /* Standard syntax */
}