<nav class="navbar navbar-sticky-top navbar-dark bg-inverse">
  <%= link_to "Sygdomme er nederen...", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav float-right">
    <li class="nav-item"><%= link_to "Back", :back, class: "nav-link active" %></li>
  </ul>
</nav>
